.hero {
    background-image: linear-gradient(to right, royalblue, gray);
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.hero h1 {
    font-weight: bold;
    color: white;
}

.card-body {
    background-color: #33475A;
}